In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')

Question-1

In [ ]:
#We are going to apply two tailed t-test.
#Here NULL HYPOTHESIS: μ1 = μ2 and ALTERNATIVE HYPOTHESIS: μ1≠μ2
# 5% significance is given then alpha = 0.05 and as it is a two tailed test now the alpha = 0.05/2 = 0.025

In [ ]:
data = pd.read_csv('/content/Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [ ]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [ ]:
statistic , p_value = stats.ttest_ind(data['Unit A'],data['Unit B'],alternative='two-sided')
p_value

0.4722394724599501

In [ ]:
#now  compare alpha and p_value
alpha = 0.025 #and p_value is 0.4722394724599501
if p_value <= alpha:
  print('We reject Null Hypothesis')
else:
  print('We fail to reject Null Hypothesis')

We fail to reject Null Hypothesis

**CONCLUSION : We fail to reject Null Hypothesis hence, there is no significant difference between both the samples.**

Question-2

In [ ]:
#Here we are going to apply ANOVA Test
# Null Hypothesis :  µ1=µ2=µ3=µ4 and Alternative Hypothesis : Atleast one of them is different.
#alpha = 0.05 (significance level = 5%)

In [ ]:
data1 = pd.read_csv('/content/LabTAT.csv')
data1.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [ ]:
data1.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [ ]:
statistic , p_value1 = stats.f_oneway(data1.iloc[:,0],data1.iloc[:,1],data1.iloc[:,2],data1.iloc[:,3])
p_value1

2.1156708949992414e-57

In [ ]:
#comparing p_value1 with alpha1
alpha1 = 0.05
if p_value1 <= alpha1:
  print('We reject Null Hypothesis')
else:
  print('We fail to reject Null Hypothesis')

We reject Null Hypothesis

**CONCLUSION : We reject Null Hypothesis, there is a significance difference between TAT reports of laboratories.**

Question-3

In [ ]:
#Here we are going to apply chi-square test
#Null Hypothesis : There is no dependency between gender based buyer rations across regions
#Alternative Hypothesis : There is a significant dependency between gender based buyer rations across regions
# alpha = 0.05

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
data2= pd.read_csv('/content/BuyerRatio.csv')
data2

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
X = [[50,142,131,70],[435,1523,1356,750]]

In [ ]:
p_value2=chi2_contingency(X)
p_value2

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
p_value2[1]

0.6603094907091882

In [ ]:
alpha2 = 0.05
#now comparing p_value2 and alpha2

In [ ]:
if p_value2[1]<= alpha2:
  print('We reject Null Hypothesis')
else:
  print('We fail to reject Null Hypothesis')

We fail to reject Null Hypothesis

**CONCLUSION: We fail to reject Null Hypothesis, therefore there is no dependency between gender based buyer rations across regions and are similar accross regions.**

Question-4

In [ ]:
# Here we are going to apply chi-square test
# Null Hypothesis : defective % does not varies by centre
# Alternative Hypothesis : defective % varies by centre
# alpha = 0.05

In [ ]:
data3 = pd.read_csv('/content/Costomer+OrderForm.csv')
data3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [ ]:
data3.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [ ]:
data3.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
data3.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
data3.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
data3.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
table = np.array([[271,267,269,280],[29,33,31,20]])
table

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [ ]:
p_value3 = chi2_contingency(table)
p_value3

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
p_value3[1]

0.2771020991233135

In [ ]:
alpha3 = 0.05
#now comparing p_value3 and alpha3
if p_value3[1] <= alpha3:
  print('We reject Null Hypothesis')
else:
  print('We fail to reject Null Hypothesis')

We fail to reject Null Hypothesis

**CONCLUSION : We fail to reject Null Hypothesis, therefore defective% does not varies by centre.**